@page "/"
@using AlligatorWeb.Services
@inject TelegramBotService BotService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<div class="header">
    <div class="header_child">
        <h1>ALLIGATOR NEO®</h1>
        <div class="desc">
            <div class="desc_icons">
                <img src="icon 1.png"/>
                <img src="icon 2.png" />
                <img src="icon 3.png" />
            </div>
            <div class="desc_part">
                <p> 🔥Еркак бўлиш вақти келди!!!</p>
            </div>
            <div class="desc_buttons">
                <button
                    type="button"
                        class="buttonx"
                    data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Сотиб олиш
                </button>
                <button class="buttony" @onclick="AboutSite">Батафсил</button>
            </div>
        </div>
    </div>
</div>


<div class="box1">
    <div class="left_part">
        <img
            src="pill.png"
            alt="img"
            class="box1_img"
        />
    </div>
    <div class="box1_right">
        <h1 class="title aloxida"><strong>Фойдали хусусиятлари</strong></h1>

        <div class="box1_right_middle">
            <div class="list">
                <div class="icon_box1"><i class="fa-solid fa-users"></i></div>
                <p class="text">
                    ✅Эрекция (олат таранглашиши) бузилишларини бартараф қилади;
                </p>
            </div>
            <hr class="box1_hr" />
            <div class="list">
                <div class="icon_box1"><i class="fa-solid fa-users"></i></div>
                <p class="text">✅Муддатидан олдин уруғ отилишидан халос қилади;</p>
            </div>
            <hr class="box1_hr" />
            <div class="list">
                <div class="icon_box1"><i class="fa-solid fa-users"></i></div>
                <p class="text">✅Уруғ суюқлигини (сперма) сифатини яхшилайди;</p>
            </div>
            <hr class="box1_hr" />
            <div class="list">
                <div class="icon_box1"><i class="fa-solid fa-users"></i></div>
                <p class="text">
                    ✅Хусусий тестостерон биосинтезини стимуллайди, гормонал мувозанатни тиклайди;
                </p>
            </div>
            <hr class="box1_hr" />
        </div>
        <div class="box1_button1">
            <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModalCenter">
                Буюртма бериш
            </button>
            <button1 class="button1" @onclick="AboutSite">Батафсил</button1>
        </div>
    </div>
</div>

<h1 class="center-text"><strong>Еркаклигинг есдан чиқиб қолдими ?</strong></h1>
<section>
    <h4>
        Ҳозирги кунда кўпгина еркаклар ўзини расмда кўрсатилган <strong>еркакчадек</strong> сезмоқда лекн буни тан олишга <strong>жуъраат</strong> топа олишмаяпди.
    </h4>
</section>
<div class="image-container">
    <img src="image 9.jpg" alt="Example Image">
</div>
<section>
    <h4>
        Aгар сизда ҳам шунақа муаммо бўлсаю лекн сирингизни ҳеч кимга айта олмаётган бўлсангиз, биз сизга ёрдам бера оламиз ! <br />
        Бизнинг табиий ALLIGATOR NEO® екстракимиз сизни сизга ёрдам бера олади ва бу ўзига ўргатиб қуймайди. Маҳсулотимиз орқали тунунгиз қиролига айланинг !<br />
        <strong>Танлов ўз қўлингизда !</strong>
    </h4>
</section>
<div class="image-container">
    <img src="image 10.jpg" alt="Example Image">
</div>

<section>
    <h3><strong>ALLIGATOR NEO®</strong></h3>
</section>
<section>
    <h5>
        <strong>
            ALLIGATOR NEO® таркиби:
        </strong>  <br />
        <strong>.</strong> Maral cornibus arboreis (панты марал)- 100 мг;
    </h5>
    <h5>
        <strong>.</strong> экстракти                              - 200 мг; <br />
    </h5>
    <h5>
        <strong>.</strong> Любисток илдизи экстракти              - 200 мг; <br />
    </h5>
    <h5>
        <strong>.</strong> Мелисса экстракти                      - 50 мг; <br />
    </h5>
    <div class="image-container">
        <img src="logo.png" alt="image 6">
    </div>
    <h5><strong> Мелисса экстракти</strong>- таркибида биологик фаол эфир мойлари – ситронелла ва гераниол мавжуд. Мелисса экстракти доимий асабийлик ва руҳий зўриқишлар сабаб юзага келадиган эректил дисфункцияда, марказий ва периферик асаб тизимини тинчлантиради, майда қон-томирларни кенгайтириб жинсий аъзоларнинг қон билан таъминланишини яхшилайди.</h5>
</section>


    
    
    
<div class="registration-container">
    <h2>Тезкор буюртма бериш учун</h2>

    <div class="form-group">
        <label for="firstName">Исмингиз:</label>
        <InputText id="firstName" @bind-Value="_registrationModel.FirstName" class="form-control" />
        @if (_submitted && string.IsNullOrWhiteSpace(_registrationModel.FirstName))
        {
            <p style="color:red;">Исм киритилиши шарт</p>
        }
    </div>

    <div class="form-group">
        <label for="lastName">Фамилиянгиз:</label>
        <InputText id="lastName" @bind-Value="_registrationModel.LastName" class="form-control" />
        @if (_submitted && string.IsNullOrWhiteSpace(_registrationModel.LastName))
        {
            <p style="color:red;">Фамилия киритилиши шарт</p>
        }
    </div>

    <div class="form-group">
        <label for="phoneNumber">Телефон рақам:</label>
        <InputText id="phoneNumber" @bind-Value="_registrationModel.PhoneNumber" class="form-control" />
        @if (_submitted && string.IsNullOrWhiteSpace(_registrationModel.PhoneNumber))
        {
            <p style="color:red;">Телефон рақам киритилиши шарт</p>
        }
    </div>

    @if (_submitted && IsValidSubmission())
    {
        <button type="submit" class="btn btn-primary" @onclick="HandleSubmit">Буюртма бериш</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary" @onclick="SubmitForm">Буюртма бериш</button>
    }
</div>

@code {
    private readonly RegistrationModel _registrationModel = new RegistrationModel();
    private bool _submitted = false;
    private async Task SubmitForm()
    {
        _submitted = true;
        bool check = IsValidSubmission();
        if (check)
        {
            var message = $"Name : {_registrationModel.FirstName} \n" +
                          $"Surname : {_registrationModel.LastName} \n" +
                          $"Number : {_registrationModel.PhoneNumber} \n";
            await BotService.SendMessageAsync(message);
            await Task.Delay(1000);
            NavigationManager.NavigateTo("/notification", forceLoad: true);
        }
    }

    private  void AboutSite()
    {
        NavigationManager.NavigateTo("/about");
    }
    private async Task Register()
    {
        await JsRuntime.InvokeVoidAsync("openNotification", "/register", 400, 300);

    }

    private bool IsValidSubmission()
    {
        return !string.IsNullOrWhiteSpace(_registrationModel.FirstName) &&
               !string.IsNullOrWhiteSpace(_registrationModel.LastName) &&
               !string.IsNullOrWhiteSpace(_registrationModel.PhoneNumber);
    }

    private void HandleSubmit()
    {
        // Handle form submission logic here
    }

    public class RegistrationModel
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string PhoneNumber { get; set; }
    }
}




<!-- Modal -->
<div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="registration-container">
                <h2>Тезкор буюртма бериш учун</h2>

                <div class="form-group">
                    <label for="firstName">Исмингиз:</label>
                    <InputText id="firstName" @bind-Value="_registrationModel.FirstName" class="form-control" />
                    @if (_submitted && string.IsNullOrWhiteSpace(_registrationModel.FirstName))
                    {
                        <p style="color:red;">Исм киритилиши шарт</p>
                    }
                </div>

                <div class="form-group">
                    <label for="lastName">Фамилиянгиз:</label>
                    <InputText id="lastName" @bind-Value="_registrationModel.LastName" class="form-control" />
                    @if (_submitted && string.IsNullOrWhiteSpace(_registrationModel.LastName))
                    {
                        <p style="color:red;">Фамилия киритилиши шарт</p>
                    }
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Телефон рақам:</label>
                    <InputText id="phoneNumber" @bind-Value="_registrationModel.PhoneNumber" class="form-control" />
                    @if (_submitted && string.IsNullOrWhiteSpace(_registrationModel.PhoneNumber))
                    {
                        <p style="color:red;">Телефон рақам киритилиши шарт</p>
                    }
                </div>               
                @if (_submitted && IsValidSubmission())
                {
                    <button type="submit" class="btn btn-primary" @onclick="HandleSubmit">Буюртма бериш</button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                    >
                        Чиқиш
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" @onclick="SubmitForm">Буюртма бериш</button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">
                        Чиқиш
                    </button>
                }
                
            </div>
        </div>
    </div>
</div>
<script>
    function window.openSmallWindow = function (url, width, height) {
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        window.open(url, "_blank", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
    }
</script>

<div class="footer">
    <div class="footer_child">
        <div class="footer_image">
            <img src="finex.png" alt="logo">
        </div>
        <div class="phone_number">
            <p>+998 71 230 69 69</p>
        </div>
        <div class="address">
            <p>Toshkent shahri, Mirobod tumani TALIMARJON KO'CHASI, 14-UY </p>
            <a href="https://www.google.com/maps?q=41.299124,69.346571">Google Maps</a>
        </div>
        <div class="socials">
            <a href="https://t.me/+Hs2zeb4k1ac1Yzky">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09" />
                </svg>
            </a>
            <a href="https://www.instagram.com/liberta_cb">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                </svg>
            </a>
            <a href="https://www.facebook.com/liberta_cb">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                </svg>
            </a>
        </div>
    </div>
</div>

