@page "/notification"

<div class="notification show">
    <p class="notification-text">Сизнинг маълумотларингиз муваффақиятли юборилди</p>
    <p class="notification-info">Сизга 24 соат ичида боғланамиз :)</p>
</div>

